{% extends '@EzPublishCore/fielddefinition_settings.html.twig' %}

{% block query_settings %}
    <li class="ez-fielddefinition-setting query-type">
        <div class="ez-fielddefinition-setting-name">{{ 'query_field_type.field_definition.query_type.label'|trans|desc("Query type:")}}</div>
        <div class="ez-fielddefinition-setting-value">
            {% if fielddefinition.fieldSettings.QueryType %}
                fielddefinition.fieldSettings.QueryType
            {% else %}
                <em>No defined Query Type</em>
            {% endif %}
        </div>
    </li>
    <ul class="ez-fielddefinition-settings ez-fielddefinition-"{{ fielddefinition.fieldTypeIdentifier }}-settings">
        {% set defaultValue = null %}
        {% if fielddefinition.defaultValue.text is not same as('') %}
            {% set defaultValue = fielddefinition.defaultValue.text %}
        {% endif %}
        {{ block( 'settings_defaultvalue' ) }}
    </ul>
{% endblock %}
