<div class="col-lg-3 col-md-4 col-6">
    {{ ez_render_field(
        content, 'image',
        {
            parameters: {
                alias: 'small',
                attrs: {class: 'img-fluid img-thumbnail'}
            }
        }
    ) }}
</div>
